html
  head
    title - ooops! -
    link(rel='stylesheet', href='/stylesheets/404.css', type='text/css', media='all')
  body
    span.neg ERROR 404
    p The page is missing or never was written
    p The URL is likely wrong
    | Go to Homepage 
    blink _
    .menu
      a(href='http://followmyjourney.herokuapp.com') Homepage